@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap');

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
}
body, html {
    -webkit-text-size-adjust:100%;
    min-width:$min-width;
    height:100%;
    min-height:100%;
}
body {
    color: $color-paragraph;
    font-family: $font-family;
    font-size: $font-body;
    font-weight: $font-weight;
    line-height: $line-height;
    @if($letter-sapcing){
        letter-spacing: $letter-sapcing;
    }
    @if($bg-body){
        background:$bg-body;
    }
    word-break:keep-all;
    word-wrap:break-word;
    -webkit-font-smoothing: antialiased;
    overflow: overlay;
}
body,div,p,header,section,nav,footer,article,figure,aside,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,form,fieldset,input,textarea,button,select,span,strong,b,em,a,label{margin:0;padding:0}
header,footer,section,article,nav,aside{display:block}
table{width:100%;border-collapse:collapse;empty-cells:show;border-spacing:0}
td,th{position:relative;font-weight:$font-weight;margin:0;padding:0;/*word-break:break-all*/}
h1,h2,h3,h4,h5,h6{color:$color-headline;font-weight:$font-weight-headline;line-height:$line-height-headline}
img{max-width:100%;border:0;vertical-align:top}
fieldset,iframe{border:0;vertical-align:top}
textarea{resize:none}
ul,ol{list-style:none}
em,address,i{font-style:normal}
u{text-underline-position:under}
sub{line-height:1;vertical-align:bottom}
sup{line-height:1;vertical-align:top}
hr,legend{display:none}
caption{overflow:hidden;position:static;top:0;left:0;width:0;height:0;font-size:0;line-height:0}
strong, b{font-weight:$font-weight-bold}
label{vertical-align:middle;cursor:pointer}
button{font-family:inherit;@include appearance(none);border:0;border-radius:0;background:none;cursor:pointer}
button:disabled,
button[disabled]{-webkit-tap-highlight-color:transparent}
a{text-decoration:none;color:inherit}
a:hover{color:inherit;text-decoration:underline;text-underline-position:under}
a,button{@include tap-highlight}
a,area,button,[role="button"],input:not([type="range"]),label,select,summary,textarea{-ms-touch-action:manipulation;touch-action:manipulation}
[tabindex="-1"]:focus {outline: 0 !important}
input,textarea,select{color:inherit;font-family:inherit;font-size:1em;@include appearance(none);border:0;border-radius:0;background:0;box-shadow:none;outline:0}
input {
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      transition: background-color 5000s 0s;
      -webkit-text-fill-color: #fff !important;
    }
    @include placeholder {
        color: $color-placeholder;
    }
}
input::-ms-clear{display:none}