// layout
$min-width: 320px;
$max-width: 1920px;
$max-inner: 1440px;

// default
$font-family: 'Roboto', 'Noto Sans KR', 'Malgun Gothic', arial, sans-serif;
$font-body: 16px;
$font-weight: 400;
$line-height: 1.4;
$line-height-headline: 1.2;
$letter-sapcing: 0;

$bg-body: false;
$color-paragraph: #111;
$color-headline: #111;
$color-placeholder: #888;

// color
$color-white: #fff;
$color-black: #111;
$color-gray: #666;
$color-light-gray: #888;
$color-point: #ff6500;
$color-notify: #bf262b;

// font
$font-size-h1: 30px;
$font-size-h2: 24px;

$font-weight-bold: 700;
$font-weight-headline: 700;

// z-index
$z-cookie-bar: 3000;
$z-modal: 2999;
$z-gnb: 2000;
$z-nav: 1999;
$z-lnb: 1000;
$z-progress: 3200;
$z-popup: 3100;
$z-floating: 2500;
$z-sticky: 500;
$z-dropdown-list: 200;
$z-picker: 200;
$z-tooltip: 100;

// path
$path-image: "../images";
$path-video: "../video";